<%- include('../partials/header') %>
 <!-- header page-->
<div class="content">
  <div class="text">
    <h1 style=" color: palevioletred;" >KO KO CAKE SHOP</h1>
    <h5 style=" color: palevioletred;">  THE TASTE OF YOUR CELEBRATION</h5>
    <p> hello cake lover this is for all of you 
     we will provide good service for you please click button to shop now</p>
  </div>
  <button type="button" class="btn btn-secondary btn-sm" style="width: 150px;height: 40px;" >shop now</button>

</div>
<img src="/uploads/background1.jpg" class="full-screen-img" alt="Responsive Full Screen Image" />


<div class="header-1">
  <h4 style="text-align: center;font-size: 30px; color: palevioletred;margin-top: 20px;border: 1px solid white;background-color:  rgb(228, 223, 223);border-radius: 10px;height: 50px;width: 210vh;">Mini cake collection</h4>
</div>
<!-- Product Grid -->
<div class="container my-5" style="margin-left: 100px;">
  <div class="row">
    <% products.forEach(product => { %>
      <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
        <div class="card shadow-sm" style="height: 100%; border-radius: 10px;width: 210px;">
          <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>" style="margin-left: 5px;border-radius: 10px 10px 0 0; height: 200px; object-fit: cover;">
          <div class="card-body" style="text-align: center;line-height: 0.5;">
            <p class="card-title"  style="color: hotpink;" ><%= product.name %></p>
            <h5 class="card-title"style="color:rgb(248, 58, 248);">$ <%= product.price %></h5>
            <div class="star" style="display: flex;color: rgb(245, 245, 144);justify-content: center;margin: 5px;">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <a href="/product/<%= product.id %>" class="btn btn-primary btn-block">View Details</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<div class="detail">
  <h4>Cakes Are the Heart of Every Celebration</h4>
  <p>
    Cakes have long been a staple of festive occasions, symbolising joy, togetherness, and indulgence. A perfectly baked cake serves as a treat for the taste buds and a centrepiece that draws everyone’s attention.
  </p>
  <br>
  <p>When the clock strikes midnight, cutting a delectable cake with loved ones adds a sense of togetherness and a sweet start to the New Year. Bakingo’s range of cakes ensures that your celebration begins on a high note, blending tradition with modern flavours and designs.</p>
  <h4>A Wide Variety to Suit Every Taste</h4>
  <p>One of Bakingo cakes’ standout features is their sheer variety. No matter your taste preferences, you’ll find something that fits perfectly:</p>
  <ul>
    <li>Classic Cakes: For those who love timeless flavours like vanilla, butterscotch, or pineapple, Bakingo offers a range of beautifully crafted classics</li>
    <li>Chocolate Heaven: From gooey chocolate truffle cakes to rich choco-chip delicacies, chocolate lovers are spoiled for choice.</li>
    <li>Designer Cakes: Perfect for themed parties, these cakes are as stunning to look at as they are to eat. Think glittery New Year designs or cakes featuring fireworks to match the celeb
      ratory mood</li>
    <li>Fusion Flavours: Bakingo is known for its unique fusion options, like Ras Malai Pista Whipped Cream Cake or Gulab Jamun Cream Cake, a nod to Indian flavours with a modern twist.</li>
  </ul>
</div>

<div style="background-color: rgb(162, 161, 161); color: white;width: 210vh;height: auto;" class="py-lg-3 mt-lg-2">
  <section id="about us" class="py-3">
      <div class="About">
          <h3 style="text-align: center;color: palevioletred;">About Us</h3>
          <h5 class="ms-5" style="margin-top: 40px; line-height: 1.5;">Welcome to KoKo cake shop, where every cake is a masterpiece! We specialize in creating delicious, 
          freshly baked cakes for all occasions, from birthdays to weddings and everything in between. Our skilled 
          bakers use only the finest ingredients to craft cakes that not only look beautiful but taste incredible. 
          At KoKo cake shop, we believe that every celebration deserves a slice of happiness, and we're here to 
          make your moments even sweeter!🎁❤️❤️❤️</h5>
      </div>
      <div class="animal">
        <img src="/uploads/pic4.jpg" alt="" width="400px" height="400px">
    </div>
  </section>
</div>

<div style=" background-color: rgb(162, 161, 161) ; color: white;width: 210vh;height: auto;" class="py-lg-3 mt-lg-2">
    <div class="container" >
        <div class="row ms-lg-5 mt-5">
            <h4 class="col-4" style="color: palevioletred;">Contact us</h4>
            <h4 class="col-4" style="color: palevioletred;">Contact site support</h4>
        </div>
        <div class="row ms-lg-5">
            <h5 class="col-4 ">Facebook : KoKo cake shop</h5>
            <h5 class="col-4">You are logged in as a stranger !!!</h5>
            <h4 class="col-3 btn btn-outline-info text-center ms-5"><a style="text-decoration: none;color: aliceblue;" href="https://play.google.com/store/games?hl=en&pli=1">Google play</a></h4>
        </div>
        <div class="row ms-lg-5">
            <h5 class="col-4">Website : KoKo cake shop</h5>
            <h5 class="col-4">Would you like to sign up ???</h5>
            <h4 class="col-3 btn btn-outline-info text-center ms-5"><a style="text-decoration: none;color: aliceblue;" href="https://www.apple.com/app-store/"  >App store</a></h4>
        </div>
        <div class="row ms-lg-5">
            <h5 class="col-4">Email : KoKo_cake_shop@gmail.com</h5>
            <h5 class="col-4">Reset user tour on this page</h5>
        </div>
    </div>  
    <div class="item-icon" style="text-align: center;line-height: 0.5;margin-top: 100px;">
      <div class="contac-method">
        <p style="font-size: 18px;color: black;">Show us some love ❤️
          & connect with us!</p>
      </div>
      <div class="icon-button" style="display: flex; justify-content: center;font-size: 20px;">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-pinterest"></i>
        <i class="fa-brands fa-tiktok"></i>
      </div>
    </div>
</div>
<%- include('../partials/footer') %>

