<%- include('../partials/header') %>
<h1 class="mb-4" style=" color:  gray;font-weight: bolder;margin-left: 200px;">Product Details</h1>

<div class="diplay" style="display: flex;justify-content: center;">
  <img src="<%= product.image %>"  alt="<%= product.name %>" style="width: 500px;height: 500px; object-fit: cover;scale: 1;">
  <div class="card p-4" style="font-size: 24px;width: 400px;height: 500px;">
    <p><strong>ID:</strong> <%= product.id %></p>
    <p><strong>Name:</strong> <%= product.name %></p>
    <p><strong>Price:</strong>   $<%= product.price %></p>
    <p><strong>Description:</strong> <%= product.description %></p>
  </div>
</div>
<a style="margin-left: 210px;margin-top: 200px;" href="/product" class="btn btn-secondary mt-3">Back to List</a>

<%- include('../partials/footer') %>
